.input-wrapper {
    height: 10em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 16px;
}

.result {
    flex: 1;
    margin: 24px;
    font-size: 2rem;
    font-weight: bold;
}

.text {
    font-size: 1.5rem;
    margin: 24px;
}
