body {
  text-align: center;
  background-color: black;
  color: white;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: #999999;
  color: black;
  width: 50%;
  border-radius: 16px;
}